.container-login {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

a {
  color: rgb(0, 209, 209);
}

.container-form {
  display: block;
  width: 50%;
}

.title-form > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.link-register > p {
  margin-bottom: 10px;
}

.box {
  padding: 10px 0;
}

.login-input {
  padding: 0 40px;
}

.password-input {
  padding: 0 40px;
}

.input-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 10px 0;
}

.input-checkbox > label {
  margin: 10px 0;
}

.checkbox-input {
  width: 15px;
}

.button-sign-in > button {
  padding: 15px 50px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color:darkslategray;
  border: 1px solid darkslategray;
  border-radius: 8px;
  color: azure;
  font-weight: 600;
  cursor: pointer;
}

.forgotten-password {
  margin: 10px 0;
}

.container-image {
  width: 45%;
  padding: 50px;
}

.container-image > img {
  width: 90%;
}

.icons-login {
  position: absolute;
  padding: 12px;
}

@media only screen and (max-width: 768px) {
  .container-login {
    width: 100%;
    margin: 0;
    padding: 20px;
    display: block;
  }
  .container-form {
    display: block;
    width: 100%;
  }
  .container-image {
    width: 100%;
    padding: 50px;
  }
  .container-image > img {
    width: 100%;
  }
}