.container-login {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.container-form {
  display: block;
  width: 50%;
}

.title-form > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.link-register > p {
  margin-bottom: 10px;
}

.box {
  padding: 5px 0;
}

.login-input {
  padding: 0 30px;
}

.password-input {
  padding: 0 30px;
}

.input-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30%;
}

.input-checkbox > label {
  margin: 10px 0;
}

.checkbox-input {
  width: 10%;
}

.button-sign-in > button {
  padding: 15px 50px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color:darkslategray;
  border: 1px solid darkslategray;
  border-radius: 8px;
  color: azure;
  font-weight: 600;
  cursor: pointer;
}

.container-image {
  width: 45%;
  padding: 30px;
}

.container-image > img {
  width: 100%;
}