* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c4c4c4;
  background-color: #1a1a1F;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
* Header CSS Roles
**/
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1a1a1F;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  padding: 10px 0;
}

.logo > img {
  margin: 0;
  padding: 0;
}

.title > h1 {
  color: #c4c4c4;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 10px;
}

.nav {
  width: 90%;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid #c4c4c4;
  padding: 10px 0;
}

nav > a {
  font-weight: bold;
  cursor: pointer;
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c4c4c4;
  padding: 0 5px;
}

/**
* Main CSS Roles
**/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin: 20px 0;
}

section {
  width: 70%;
  height: auto;
}

form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.inputs-form {
  width: 60%;
  margin-bottom: 20px;
}

.password-validate {
  width: 35%;
  height: 170px;
  margin-top: 115px;
  border-radius: 10px;
  background-color: #3a3939;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 35px;
}

.password-check {
  border-radius: 10px;
}

.password-toggle-button {
  margin-top: 48px;
  position: absolute;
  background-color:#323131;
}

.toogle-button {
  border: none;
  background-color:#323131;
  color: white;
  position: absolute;
  cursor: pointer;
  right: 10px;
}

.title-form {
  margin-bottom: 10px;
  font-size: 2rem;
}

.input-box {
  margin: 10px 0;
}

input {
  display: block;
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid #1a1a1F;
  outline: 0;
  padding: 0 10px;
  font-size: 1rem;
  background-color: #323131;
  color: #FFF;
}

.inputs-login-pass {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons-form {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

.register-button {
  width: 65%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #379ee2;
  color:beige;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  background-color:  #379ee2;
}

.register-button:disabled {
  background-color: #ccc;
  color: #3a3939;
  cursor: not-allowed;
  border: none;
}

.clear-button {
  width: 30%;
  background-color: #1a1a1F;
  border-radius: 50px;
  border: 1px solid #c4c4c4;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

button:hover {
  background-color: #1a1a1F;
  color: white;
  border: 1px solid #c4c4c4;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}


@media only screen and (max-width: 768px) {

  .wrapper-header {
    width: 100%;
    padding: 20px;
  }

  main {
    padding: 0;
    margin: 0;
  }

  section {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  form {
    width: 100%;
    padding: 20px;
    flex-flow: column;
  }
  .password-validate {
    width: 35%;
    height: 200px;
    margin-top: 90px;
    border-radius: 10px;
    background-color: #3a3939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
  }

  .inputs-form {
    width: 100%;
  }
  
  .password-validate {
    width: 100%;
    margin: 20px 0;
    padding: 25px 45px;
    height: auto;
  }

  .buttons-form {
    width: 100%;
    margin: 20px 0;
  }
}